*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 40%;
    height: 325px;
    background-color: aqua;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    padding: 20px;

}
.date{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    padding-top: 20px;


}
.number-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
    justify-content: space-around;





}
.number-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
    justify-content: space-around;

}
.number-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
    justify-content: space-around;

}
.number-4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
    justify-content: space-around;
}
.number-5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
    justify-content: space-around;


}
.number-6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
    justify-content: space-around;


}
.box{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: beige;
    text-align: center;
    padding-top: 3px;


;}
.box-2{
    color: rgb(155, 13, 13);
}
.box-3{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;

}


