

body{
    
    /* padding-left: 600px; */
    padding-top: 100px;
    background-color: bisque;
}
.topdiv{
    background-color: aqua;
    width: 40%;
    height: 400px;
    margin: auto;
    padding-top: 70px;
    border-radius: 10px;
}
.comp{
    border: 1px solid white;
    background-color: rgb(246, 251, 249);
    border-radius: 10px;
    margin: auto;
    width: 250px;
    padding-top: 100px;
    padding: 50px 20px;
    margin-top: 20px;
}
.cardimg{
    position: absolute;
    top: 0;
    width: 0;
    width: 100%;
    height: 100%;
    margin: 60px;
    padding-top: 70px;
    padding-left: 120px;
}

.input{
    height:100%;
    width: 100%;
    padding-bottom: 10px;


}
.select{
    
    height: 30px;
    width: 29%;
}

.button{
    border: 1px solid aliceblue;
    outline: none;
    height: 50px;
width: 250px;
    background-color: rgb(51, 24, 210);
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}
.comp{
    border: 5px;
    border-radius: 10px;
}

